<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cpb>
            <development>
                <cpb_js>https://universal-magento-cdn.thecustomproductbuilder.com/dist/latest/custom-product-builder.js</cpb_js>
                <theme_js>https://universal-magento-cdn.thecustomproductbuilder.com/dist/latest/customizer-theme-main.js</theme_js>
            </development>
        </cpb>
    </default>
</config>
