<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="custom-options-custom-modal" xsi:type="array">
                    <item name="class" xsi:type="string">Buildateam\CustomProductBuilder\Ui\DataProvider\Product\Form\Modifier\JsonModal</item>
                    <item name="sortOrder" xsi:type="number">71</item>
                    <!-- Because 70 is sort order of the regular custom options -->
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\ProductVideo\Block\Product\View\Gallery">
        <plugin name="cpb_product_media" type="Buildateam\CustomProductBuilder\Plugin\ProductPageHideBlock" sortOrder="50" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="cpb_product_media" type="Buildateam\CustomProductBuilder\Plugin\ProductPageHideBlock" sortOrder="50" />
    </type>

    <type name="Magento\Framework\Data\Form\FormKey\Validator">
        <plugin name="cpb_form_key" type="Buildateam\CustomProductBuilder\Plugin\AddToCartValidator" sortOrder="50" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="cpb_compare_options" type="Buildateam\CustomProductBuilder\Plugin\QuoteItemCompareOptions" sortOrder="50" />
    </type>
</config>
