<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Indigo Geeks, Inc. All rights reserved.
  ~
  ~ General.
  ~ The custom product builder software and documentation accompanying this License
  ~ whether on disk, in read only memory, on any other media or in any other form (collectively
  ~ the “Software”) are licensed, not sold, to you by copyright holder, Indigo Geeks, Inc.
  ~ (“Buildateam”) for use only under the terms of this License, and Buildateam reserves all rights
  ~ not expressly granted to you. The rights granted herein are limited to Buildateam’s intellectual
  ~ property rights in the Buildateam Software and do not include any other patents or
  ~ intellectual property rights. You own the media on which the Buildateam Software is
  ~ recorded but Buildateam and/or Buildateam’s licensor(s) retain ownership of the Software
  ~ itself.
  ~
  ~ Permitted License Uses and Restrictions.
  ~ This License allows you to install and use one (1) copy of the Software.
  ~ This License does not allow the Software to exist on more than one production domain.
  ~ Except as and only to the extent expressly permitted in this License or by applicable
  ~ law, you may not copy, decompile, reverse engineer, disassemble, attempt to derive
  ~ the source code of, modify, or create derivative works of the Software or any part
  ~ thereof. Any attempt to do so is a violation of the rights of Buildateam and its licensors of
  ~ the Software. If you breach this restriction, you may be subject to prosecution and
  ~ damages.
  ~
  ~ Transfer.
  ~ You may not rent, lease, lend or sublicense the Software.
  ~
  ~ Termination.
  ~ This License is effective until terminated. Your rights under this
  ~ License will terminate automatically without notice from Buildateam if you fail to comply
  ~ with any term(s) of this License. Upon the termination of this License, you shall cease
  ~ all use of the Buildateam Software and destroy all copies, full or partial, of the Buildateam
  ~ Software.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY COPYRIGHT HOLDER "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL COPYRIGHT HOLDER BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. THE SOFTWARE IS NOT INTENDED FOR USE IN WHICH THE FAILURE OF
  ~ THE SOFTWARE COULD LEAD TO DEATH, PERSONAL INJURY, OR SEVERE PHYSICAL OR ENVIRONMENTAL DAMAGE.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="custom-options-custom-modal" xsi:type="array">
                    <item name="class" xsi:type="string">Buildateam\CustomProductBuilder\Ui\DataProvider\Product\Form\Modifier\JsonModal</item>
                    <item name="sortOrder" xsi:type="number">71</item>
                    <!-- Because 70 is sort order of the regular custom options -->
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Data\Form\FormKey\Validator">
        <plugin name="cpb_form_key" type="Buildateam\CustomProductBuilder\Plugin\AddToCartValidator" sortOrder="50"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="cpb_configure_quote_item" type="Buildateam\CustomProductBuilder\Model\Plugin\QuoteItem" sortOrder="50"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Type\Simple">
        <plugin name="cpb_after_prepare_for_cart_advanced" type="Buildateam\CustomProductBuilder\Model\Plugin\CatalogProductTypeAll" sortOrder="50"/>
    </type>

    <type name="Magento\Catalog\Pricing\Price\ConfiguredPrice">
        <plugin name="cpb_configured_price" type="Buildateam\CustomProductBuilder\Pricing\Plugin\ConfiguredPrice" sortOrder="50"/>
    </type>

    <type name="Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit">
        <plugin name="cpb_configure_url" type="Buildateam\CustomProductBuilder\Block\Plugin\CartItemEdit" sortOrder="50"/>
    </type>

    <type name="Magento\Wishlist\Model\Item">
        <plugin name="cpb_wishlist_represent_product" type="Buildateam\CustomProductBuilder\Model\Plugin\WishlistItem" sortOrder="50"/>
    </type>

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="cpb_customer_data_abstract_item" type="Buildateam\CustomProductBuilder\CustomerData\Plugin\AbstractItem" sortOrder="50"/>
    </type>

    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="cpb_checkout_cart_add" type="Buildateam\CustomProductBuilder\Controller\Plugin\Cart\Add" sortOrder="50"/>
    </type>

    <type name="Magento\Sales\Model\Order\Item">
        <plugin name="cpb_order_item" type="Buildateam\CustomProductBuilder\Model\Plugin\Order\Item" sortOrder="50"/>
    </type>

    <type name="Magento\Catalog\Model\Product\Option">
        <plugin name="custom_product_option_type" type="Buildateam\CustomProductBuilder\Model\Plugin\ProductOption"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\SenderBuilder">
        <plugin name="cpb_sender_builder" type="Buildateam\CustomProductBuilder\Model\Plugin\OrderEmailSenderBuilder"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="cpb_json_config" type="Buildateam\CustomProductBuilder\Plugin\Catalog\Model\ResourceModel\Product"/>
    </type>

    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="111" xsi:type="object">Buildateam\CustomProductBuilder\Model\Collector\CpbCollector</item>
            </argument>
        </arguments>
    </type>
</config>
