<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Buildateam_CustomProductBuilder" setup_version="0.1.3">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
    <router id="admin">
        <route id="productbuilder" frontName="productbuilder">
            <module name="Buildateam_CustomProductBuilder"/>
        </route>
    </router>
</config>
