<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_get_final_price">
        <observer name="catalog_product_get_final_price" instance="Buildateam\CustomProductBuilder\Observer\ProductFinalPrice" shared="true"/>
    </event>
    <event name="checkout_cart_save_after">
        <observer name="checkout_cart_save_after" instance="Buildateam\CustomProductBuilder\Observer\CheckoutCartSaveAfter" shared="true" />
    </event>
</config>
